// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: #fff;
// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin maven-search {
    @include valo;

    .v-slot-search {
        .v-caption {
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 18px;
            color: #aaa;
        }
        .v-textfield,
        .v-textfield:focus {
            font-family: inherit;
            font-size: 20px;
            font-weight: 100;
            border: none;
            border-radius: 0;
            border-bottom: 2px solid #eee;
            padding-left: 40px;
        }
        .v-textfield:focus {
            border-color: #aaa;
        }
    }

    .search-results {

        .v-grid-row {
            overflow: hidden;
        }

        .v-grid-cell {
            position: relative;
        }

        span.badge {
            position: absolute;
            top: 9px;
            right: 0;
            color: #fff;
            background: #e61e6e;
            width: 26px;
            font-size: 12px;
            text-align: left;
            height: 1.2em;
            line-height: 1.1em;
            border-radius: 0;

            &:before {
                content: "";
                border: 9px solid #e61e6e;
                border-left-color: transparent;
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                top: 0;
                left: -10px;
            }
        }

        .favicon {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }

    }
}
